body {
  background-color: #ede7da;
  margin: 40px;
}

h1 {
  color: lightblue;
}

textarea {
  background-color: #ede7da;
  border: 4px solid #ede7da;
}

.paper {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 400px;
  height: 1000px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.3);
  overflow: hidden;
}
/*I don't think I need this in the code??*/.paper::before {
  /*:before allows for more customization options*/
  content: '';
  position: absolute;
  top: 0; bottom 0; left: 0;
  width: 60px;
  radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #D44147;
  box-sizing: border-box;
}
.paper-content {
  /*This changes the lines on the page*/
  position: absolute;
  top: 40px; right: 0; bottom: 40px;
  left: 40px;
  background: linear-gradient(transparent, transparent 28px, #91D1D3 28px);
  background-size: 30px 30px;
}
